.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  grid-column-gap: 5px;
}

.pagination li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.pagination a {
  padding: 4px 10px;
  line-height: 24px;
  border-radius: 8px;
  transition: all 0.2s;
}

.paginationItem {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #505050; */
  font-weight: normal;
  &:hover {
    color: #38B2AC;
  }
}

.paginationLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  /* color: #2D3748; */
  &:hover {
    color: #38B2AC;
  }
}

.paginationActive a {
  background-color: #38B2AC;
  color: white !important;
  font-weight: bold !important;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(56, 178, 172, 0.4);
}

.paginationDisabled {
  color: #2D3748;
  cursor: not-allowed;
}
